/* .banner-container {
    background-image: url("https://jthemes.net/themes/html/medservices/files/images/hero-1-img.png"),
      linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.239));
    height: 380px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  } */